[submodule "frontend"]
	path = frontend
	url = git@github.com:Vodianoi/Dutch-Front.git
	branch = develop
[submodule "backend"]
	path = backend
	url = git@github.com:Vodianoi/Dutch-Back.git
	branch = develop
