@tailwind base;
@tailwind components;
@tailwind utilities;

/* region Global */
body {
    font-family: 'Roboto', sans-serif;
    /* green play board background*/
    background: rgb(55,166,104);
    background: radial-gradient(circle, rgba(55,166,104,1) 0%, rgba(21,69,42,1) 100%);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
}
/* endregion Global */

/* region Card */
.card {
    position: relative;
    border-radius: 10px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    transition: 0.3s;
    transform-style: preserve-3d;

    /*border: 1px solid #f1f1f1;*/

    &:hover {
        scale: 1.1;
    }

    cursor: pointer;
    transform-origin: center right;
    height: fit-content;

    ul {
        /*list-style-type: circle;*/
        margin: auto;
        overflow: hidden;
        padding: 0;
        text-overflow: fade;
        white-space: nowrap;
        width: 250px;
        max-height: 100px;
    }

    li {
        /*display: inline;*/
        margin-right: 10px
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


}
@media (width >= 750px) {
    .card {
        width: 125px;
    }
}


.card h2 {
    font-size: 1.5rem;
}

.card p {
    font-size: 1rem;
}

.card button {
    margin: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
}

.card button:hover {
    background-color: #e1e1e1;
}

/* Card Flip */

.card-inner {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    /*border-radius: 30px;*/
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}


.card.is-flipped {
    transform: translateX(-100%) rotateY(180deg);
}

.card-front {
    /*transform: rotateY(180deg);*/
    transform: rotateY(180deg);
    /*border-radius: 30px;*/

    position: absolute;
}

.card-back {
    /*transform: rotateY(180deg);*/
    /*border-radius: 30px;*/
    color: black;
}
/* endregion Card */

/* region Player */
.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px;
}

.hand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
/* endregion Player */

h1 {
    color: white;
    margin-right: 50px;
    width: 100px;
}

/* Encadrement des joueurs, carte, actions */

#game {
    border : 4mm ridge rgb(255, 255, 255);
}

/* Actions */

#player-1-action,
#player-2-action,
#player-3-action,
#player-4-action {
    display: flex;
    justify-content: right;
    margin-left: 30px;
    gap: 5px
}

/* Dutch Game style */

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
}

/* Deck style */

#deck {
    margin: 15px;
    gap: 10px;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

button {
    border-color: transparent;
    background-color: #fff;
    color: #000;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}

button:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}

